<!--<div class="detail_page detail_component">-->
<!--    <a href="{% url 'boardapp:detail' pk=post.pk%}" class="size4-link">{{post.title}}</a>-->
<!--    <div class="div-block-3">-->
<!--        <div class="text-label">게시일 :</div>-->
<!--        <div class="text-label">{{post.created_at}}</div>-->
<!--        <div class="text-label">신청마감일 :</div>-->
<!--        <div class="text-label">2020/12/31</div>-->
<!--        <div class="text-label">글쓴이 :</div>-->
<!--        <div class="text-label">{{post.writer}}</div>-->
<!--    </div>-->
<!--    <div class="paragraph-70">{{ post.summary | safe }}</div>-->

<!--    <div class="blog1-button-wrap">-->
<!--        <a data-w-id="e3f22483-798b-3788-463d-7441637cf86a" href="#" class="button-small notice w-inline-block">-->
<!--            {% if request.path == '/boards/list/notice/' %}-->
<!--            <div class="button-label notice">Read more</div>-->
<!--            <img src="images/yellow_arrow_1.png" width="25" alt="" class="button-arrow">-->
<!--            {% elif request.path == '/boards/list/dsum/' %}-->
<!--            <div class="button-label notice blue">Read more</div>-->
<!--            <img src="images/blue_arrow.png" width="25" alt="" class="button-arrow">-->
<!--            {% elif request.path == '/boards/list/kquestion/' %}-->
<!--            <div class="button-label notice green">Read more</div>-->
<!--            <img src="images/green_arrow.png" width="25" alt="" class="button-arrow">-->
<!--            {% elif request.path == '/boards/list/contest/' %}-->
<!--            <div class="button-label notice puple">Read more</div>-->
<!--            <img src="images/puple_arrow.png" width="25" alt="" class="button-arrow">-->
<!--            {% elif request.path == '/boards/list/tutoring/' %}-->
<!--            <div class="button-label notice red">Read more</div>-->
<!--            <img src="images/red_arrow.png" width="25" alt="" class="button-arrow">-->
<!--            {% else %}-->
<!--            <div class="button-label notice green">Read more</div>-->
<!--            <img src="images/green_arrow.png" width="25" alt="" class="button-arrow">-->
<!--            {% endif %}-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->